@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* scroll-behavior: smooth; */
    /* overflow-y: hidden; */
   
}
body{
    overflow-y: hidden;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

#ytLogo{
    width: 90px;
    
}

.head{
    /* margin-top: 0px;
    padding-top: 0px; */
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px; 
    background-color: rgba(0, 0, 0, 0.904);
}

.col1{
    display: flex;
    align-items: center;
}
.col2{
    display: flex;
    align-items: center;
}
.col3{
    display: flex;
    align-items: center;
}
.logo-img{
    margin-left: 5px;
   
    
}
#searchBar{
    height: 30px;
    width: 500px;
    padding-left: 10px;
}
.search, .mic{
    
    margin-right: 5px;
   
}
.searchIcon{
    color: black;
}
.mic{
   
    border-radius: 50%;
    border: none;
}
.micicon{
    /* background-color: rgb(39,39,39); */
    color: black;
    padding: 5px;
    border-radius: 50%;
}
.icons3{
    padding-left: 5px;
    padding-right: 5px;
}


/* -------------------- */
/* aside */



aside{
    background-color: rgba(0, 0, 0, 0.904);
    width: 400px;
    height: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: transparent;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(141, 125, 125);
}
/* ::-webkit-scrollbar-button{
    background-color: white;
}
aside::-webkit-scrollbar-button{
    background-color: transparent;
} */

ul>li{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

ul>li>p{
    color: white;
    margin: 0px 30px;
}

hr{
    border: 1px solid rgb(80, 74, 74);
    width: 90%;
    margin: 15px;
}

/* _______________________________ */

/* topic-buttons */

.aside_buttons{
display: flex;
}

.topics{
    display: flex;
    justify-content: space-around;
    padding: 10px;

    align-items:start;
    /* width: 88vw; */
    height: fit-content;
    background-color: black;
}
.topics>button{
    width:fit-content;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(99, 95, 95);
    color: #fff;


}

/* _____________________ */



.video-wrapper{
    height: 85vh;
    width: 82vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
    padding: 20px 25px;
    overflow-y: scroll;
    background-color: black;
  
}

.video{
    padding: 0px;
    margin: 0px;
    height: 350px;
    border-radius: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
}
.video:hover{
    box-shadow: 0px 0px 51px rgba(255, 255, 255, 0.276);
    cursor: pointer;
    transform: scale(1.01);

}
.video-content{
    position: relative;
}

.thumbnail{
    object-fit: fill;
    /* border: 1px solid salmon; */
    height: 220px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    border-radius: 10px;
    
  
}


.title{
    color: #ccc;
    /* font-size: 0.8rem; */
    font-weight: bolder;
    text-wrap: wrap;
    /* border: 1px solid salmon; */
    padding-right: 50px;
    /* padding-top: 10px; */
}

.channel-name{
   
    font-size: small;
    font-weight: lighter;
    margin-top: 10px;
}
.timeStamp{
    position: absolute;
    /* border: 1px solid salmon; */
    bottom: 35px;
    right: 10px;
    color: white;
    background-color: #00000075;
    padding: 3px;
    font-size: small;
    border-radius: 5px;

}

.views{
    display: inline-block;
    font-size: small;
    font-weight: lighter;
    margin-top: 5px;
}

.dayAgoTime{
    display: inline-block;
    font-size: small;
    font-weight: lighter;
    margin-top: 5px;
}
.video-details{
    display: flex;
    color: #fff;
}

.channelLogo{
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}
